<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="./styles.css" rel="stylesheet" />
    <title>Rabbit Example</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submit_message">
        <h4>Create message</h4>
        <div>
          <div>
            <label>
              <span>Exchange</span>
              <input type="text" v-model="form_data.exchange" />
            </label>
          </div>
          <div>
            <label>
              <span>Routing key</span>
              <input type="text" v-model="form_data.routing_key" />
            </label>
          </div>
          <label>
            <span>Message</span>
            <input type="text" v-model="form_data.message" />
          </label>
        </div>
        <button>Submit</button>
      </form>
      <div>
        <h3>Setups:</h3>
        <img
          v-if="active_config_index >= 0"
          class="setup_image"
          :src="current_image"
          :alt="current_alt_text"
        />
        <ul>
          <li v-for="(name, index) in options">
            <button @click="setup_state(index)">{{ name }}</button>
          </li>
        </ul>
      </div>

      <h2>Messages</h2>
      <div class="message-container">
        <div class="message-queues" v-for="listener in listeners">
          <div class="queue-header">
            <span>{{listener.name}}</span>
            <button @click="remove_listener(listener)">X</button>
          </div>
          <div class="message" v-for="message in listener.messages">
            <div>{{ format_date(message.time) }}</div>
            <div class="content">{{ message.content }}</div>
          </div>
        </div>
      </div>

      <form @submit.prevent="submit_queue">
        <h4>Create Queue Listener</h4>
        <div>
          <label>
            <span>Queue</span>
            <input type="text" v-model="queue_data.name" />
          </label>
        </div>
        <div>
          <label>
            <span>Private</span>
            <input type="checkbox" v-model="queue_data.auto_delete" />
          </label>
        </div>
        <button>Submit</button>
      </form>
      <button @click="create_private">Create Servernamed</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./renderer.js"></script>
    <!-- <script src="./some.js"></script> -->
  </body>
</html>
