.message-container {
  display: flex;
  justify-content: left;
  gap: 0.6rem;
  width: 100vw;
}

.setup_image {
  width: 25rem;
}

.message-queues {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  width: 14rem;
  padding: 0.3rem 0.8rem;
}
.queue-header {
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  padding-bottom: 0.5rem;
}

.queue-header > span {
  font-size: 1.3rem;
  font-weight: 900;
}

.message {
  max-height: 5rem;
  overflow-y: scroll;
  word-break: break-all;
}

.message ~ .message {
  border-top: 2px dotted green;
  padding-top: 0.8rem;
}

.content {
  display: flex;
  justify-content: right;
  padding: 0.2rem 0;
}
